body {
	background-image: url("img/fundo.png");
	background-repeat: repeat-x;
	background-position: : fixed;
	background-color: black;
}

form { width: 400px; background: #2E2E2E; margin: 100px auto; }