body{
  background-color: #e8e8e8;
}
div{
  display: block;
  max-width: 500px;
  margin: 0 auto 0 auto;
  background-color: white;
  padding: 0 10px 10px 10px;
}

form{
  font-size: 16px;
  position: relative;
  text-align: center;
}

input{
  width: 470px;
  padding: 10px;
  border-radius: 7px;
  border: 2px solid #e8e8e8;
  color: #888;
}

textarea{
  width: 470px;
  height: 120px;
  line-height: 20px;
  padding: 11px;
  border-radius: 7px;
  border: 2px solid #e8e8e8;
  color: #888;
}

.botao{
  background: #1c8adb;
  height: 40px;
  width: 150px;
  font-weight: bold;
  border-radius: 10px;
  border: 1px solid;
  color: #fff;
  cursor: pointer;
}